body {
  font-family: helvetica, sans-serif;
  text-align: center;
}

.Top {
  background-image: url("../images/background.png");
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

  .Top h1 {
  font-size: 70px;
  color: white;
}

.Top p {
  font-size: 18px;
}

a {
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

.Mid p {
  font-size: 14px;
}

.Break {
  background-image: url("../images/background.png");
  background-image: url("../images/background.png");
  overflow: hidden;
  background-size: cover;
  background-position: center;
  font-size: 23px;
  color: white;
}

.Footer {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}
